<header class="max-h-screen site-nav">

  <nav class="bg-fixed site-nav" style="background-image: url(/assets/images/child.jpg)">
    <ul class="flex max-w-6xl mx-auto py-6 text-white items-center antialiased">
      <li class="mr-auto cursor-pointer hover:text-teal-500 text-4xl">logo</li>
      <li class="mr-12 px-5 cursor-pointer hover:text-teal-500">Home</li>
      <li class="mr-12 px-5 cursor-pointer hover:text-teal-500">Pages</li>
      <li class="mr-12 px-5 cursor-pointer hover:text-teal-500">Contact</li>
      <li class="mr-5"><button
          class="uppercase px-5 bg-teal-400 py-2 rounded px-4 focus:shadow-outline shadow-inner shadow-lg hover:bg-teal-500">log
          in</button></li>
      <li><button class="uppercase bg-transparent px-5 px-4 py-2 rounded border border-teal-400 hover:bg-teal-500">sign
          up</button></li>
    </ul>

    <div class="container hero">
      <h1 class="text-white text-3xl antialiased">Thank you for testing my tail in the wind!</h1>
    </div>
  </nav>
</header>
